.myCartProduct {
  margin-top: 43px;
}
.myCartHead {
  @extend .flex_between;
  margin-top: 90px;
  color: $colorFontMain;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.myCartProductLeft {
  min-width: 278px;
}
.productInMyCart {
  display: flex;
  align-content: space-between;
  margin-bottom: 51px;
}
.productInMyCartText {
  margin-left: 21px;
  .productName {
    margin-bottom: 38px;
  }
  a {
    margin-top: 38px;
    color: #575757;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    span {
      color: #6f6e6e;
    }
  }
}
.myCartHeadRight {
  ul {
    @extend .flex_between;
    width: 690px;
    li {
      width: 80px;
      text-align: right;
    }
  }
}
.myCartProduct {
  @extend .flex_between;
}
.myCartProductRight {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  ul {
    @extend .flex_between;
    align-items: center;
    width: 690px;
    height: 115px;
    margin-bottom: 51px;
    li {
      width: 80px;
      text-align: center;
    }
    a {
      @extend .flex_center;
      div {
        margin-left: 30px;
        @extend .flex_center;
      }
    }
  }
}
.resetMyCart {
  @extend .flex_between;
  margin-top: 18px;
  div {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    @extend .flex_center;
    width: 235px;
    height: 50px;
    border: 1px solid $colorEtiam;
    background-color: #fff;
  }
  div:hover {
    box-shadow: 0 0 10px $colorEtiam;
  }
}
.totalMyCart {
  margin-top: 63px;
  @extend .flex_between;
  color: $colorFontMain;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.buttonTotalMyCart {
  border: 0;
  outline: 1px solid #eaeaea;   
  padding: 12px 15px;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
@mixin inputTextPlaceholder {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 400;
}
.totalMyCartForm {
  display: flex;
  flex-direction: column;
  input[type="text"], select {
    margin-bottom: 22px;
    padding-left: 20px;
    height: 45px;
    width: 355px;
    border: 0;
    outline: 1px solid #9e9e9e;
    background-color:#fff;
  }
  input[type="text"] {
    &::-webkit-input-placeholder {
      @include inputTextPlaceholder;
    }
    &::-moz-placeholder {
      @include inputTextPlaceholder;
    }
    &:-moz-placeholder {
      @include inputTextPlaceholder;
    }
    &:-ms-input-placeholder {
      @include inputTextPlaceholder;
    }
  }
  span {
    margin: 14px 0 12px;
  }
  select {
    width: 375px;
  }
  p {
    margin-bottom: 22px;
  }
  span {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    display: block;
    padding-bottom: 24px;
  }
}
.grandTotal {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  p {
    margin-right: 36px;
    text-align: right;
  }
  a {
    width: 253px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
.sTotal {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  span {
    padding-left: 20px;
  }
}
.gTotal {
  color: $colorFontMain;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  span {
    color: $colorEtiam;
    padding-left: 20px;
  }
}